<h4>Contatos</h4>
<% if @contacts.any? %>
<table class="table table-bordered">
	<tr>
		<td><b>Nome</b></td>
		<td><b>Estado</b></td>
		<td><b>Cidade</b></td>
		<td><b>Telefone</b></td>
		<td><b>Empresa</b></td>
		<td><b>E-mail</b></td>
		<td><b>Mensagem</b></td>
	</tr>
<% @contacts.each do |contact| %>
	<tr>
		<td><%= contact.name %></td>
		<td><%= State.find(contact.state).name %></td>
		<td><%= City.find(contact.city).name %></td>
		<td><%= contact.phone_number %></td>
		<td><%= contact.company %></td>
		<td><%= contact.email %></td>
		<td><%= contact.message %></td>
	</tr>
</table>
<% end %>
<% else %>
<div class="alert">
	Nenhum contato cadastrado!
</div>
<% end %>