<style type="text/css">

</style>

<div class="container">

<div id="notice"><%=notice %></div>

	<h3>Contato</h3>

	<%= form_for(@contact) do |f| %>

	<div class="field">
		<%= f.label :name, "Nome"%>
		<%= f.text_field :name, :class => "form-control"%>
	</div>

	<div class="field">
		<%= f.label :function, "Cargo"%>
		<%= f.text_field :function, :class => "form-control" %>
	</div>

	<div class="field">
		<%= f.label :state, "Estado" %>
		<%= select :state, :state_id, State.all.collect { |s| [s.name, s.id] }, {include_blank: true}, :class => "form-control"%>
	</div>

	<div class="field">
		<%=f.label :city, "Cidades" %>
		<div id="box-city">
			<select class="form-control"></select>
		</div>
	</div>

	<script type="text/javascript">
	$(function(){
		$('select').on('change', function (e) {
			var optionSelected = $("option:selected", this);
			var valueSelected = this.value;
			$.get(
				"/contacts/get_states/" + valueSelected 
				);
		});		
	});	

	</script>


	<div class="field">
		<%= f.label :phone_number, "Telefone" %>
		<%= f.telephone_field :phone_number, :class => "form-control" %>
	</div>


</script>

<div class="field">
	<%= f.label :email, "E-mail"%>
	<%= f.email_field :email, :class => "form-control" %>
</div>

<div class="field">
	<%= f.label :menssage, "Mensagem" %>
	<%= f.text_area :menssage, :class => "form-control", :rows => 10%>
</div>

</br>
<div class="actions">
	<%= f.submit "Enviar", :class => "btn btn-primary" %>
	<%= link_to "Voltar", :class => "btn" %>
</div>
<% end %>
</div>

