<div class="container">


	<div class="alert"></div>

	<h3>Fale Conosco</h3></br>

	<%= form_for(@contact) do |f| %>

	<div class="col-md-4">
		<%= f.text_field :name, :class => "form-control", :placeholder => "Nome"%>
	</div>

	<div class="col-md-4">
		<%= f.text_field :company, :class => "form-control", :placeholder => "Empresa" %>
	</div>


	<div class="col-md-4">
		<%= select :state, :state_id, State.all.collect { |s| [s.name, s.id] }, {include_blank: true}, :class => "form-control" %>
	</div></br>


		<div id="box-city" class="col-md-4"></br>
			<select id="selector" class="form-control"></select>
		</div></br>

	<script type="text/javascript">
	$(function(){
		$('select').on('change', function (e) {
			var optionSelected = $("option:selected", this);
			var valueSelected = this.value;
			$.get(
				"/contacts/get_states/" + valueSelected 
				);
		});		
	});	

	</script>


	<div class="col-md-4"></br>
		
		<%= f.telephone_field :phone_number, :class => "form-control", :placeholder => "Telefone (999) 9999-9999" %>
	</div></br>


</script>

<div class="col-md-4">

	<%= f.email_field :email, :class => "form-control", :placeholder => "E-mail" %>
</div></br>

<div class="field"></br></br>
	<%= f.text_area :menssage, :class => "form-control", :rows => 10, :placeholder => "Mensagem"%>
</div>

</br>
<div class="actions">
	<%= f.submit "Enviar", :class => "btn btn-primary" %>
	<%= link_to "Voltar", root_path, :class => "btn" %>
</div>
<% end %>
</div>

