
<% if user_signed_in? == false %>
        <section class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 page-title">
                        <h4>A Empresa</h4>
                    </div>
                    <!-- /.page-title -->
                    <div class="col-xs-6 hidden-xs breadcrumb-wrapper">
                        <ol class="breadcrumb pull-right">
                            <li><%=link_to "Home", root_path %></li>
                            <li class="active">A Empresa</a></li>
                            <li><%=link_to "Serviços", index_soluctions_path %></li>
                        </ol>
                    </div>
                    <!-- /.breadcrumb-wrapper -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>

<section class="colored-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 wrapper-1">
				<div id="carousel-example-generic" class="carousel slide">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<%=image_tag "photo_carousel(1).jpg", :class => 'img-responsive' %>
							
						</div>
						<div class="item">]
							<%=image_tag "photo-carousel(2).jpg", :class => 'img-responsive' %>
							
						</div>
						<div class="item">
							<%=image_tag "photo_carousel(3).jpg", :class => 'img-responsive' %>			
						</div>
						</div>
						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>
				<% end %>
				<% if @companies.any? %>
				<div class="col-md-6 wrapper-1">
					<% @companies.each do |company| %>
					<h1><%= company.title %></h1>
					<p class="lead"><%= company.description %></p>
					<% if user_signed_in? %>
					<%=link_to 'Deletar' ,company, :method => :delete, :confirm => 'Deseja excluir?', :class => 'btn btn-inverse' %>
					<% end %>	
					<%= link_to "Soluções", company, :class =>"btn btn-primary" %>	
					<% end %>

					<% else %>
					<div class="alert">
						Nenhuma descrição sobre a empresa 
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>
