<!-- /.header -->
<section class="page-title-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 page-title">
				<h4>Serviços</h4>
			</div>
			<!-- /.page-title -->
			<div class="col-xs-6 hidden-xs breadcrumb-wrapper">
				<ol class="breadcrumb pull-right">
					<li><%=link_to "Home", root_path %></li>
					<li><%=link_to "A Empresa", companies_path %></li>
					<li class="active">Serviços</li>
				</ol>
			</div>
			<!-- /.breadcrumb-wrapper -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

<div id="notice"><%= notice %></div>

<div class="container">
	<h1>A Empresa</h1>
</br>
<div class="alert alert-success">
	<h3><%= @company.title %></h3>
	<p><%= @company.description %></p>
</div>
<% if user_signed_in? %>
<%= link_to "Editar", edit_company_path(@company), :class => "btn btn-large" %>
<%= link_to "Voltar", companies_path, :class => "btn" %>
<% end %>
<%
if user_signed_in? %>
<div id="nova_solucao">
	<%=render :partial => 'soluctions/form', :locals =>{:soluction => Soluction.new, :company => @company} %>
</div>
<% end %>

<div id="lista_solucao">
	<%= render :partial => 'soluctions/index', :locals => {:soluctions => @company.soluctions} %>
</div>
</div>

