<!DOCTYPE html>
<html>
<head>
	<title>ProjectSoftlineinformatica</title>
	<%= stylesheet_link_tag    "application2", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

</head>
<body>

	<!--<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>-->
	<div class="wrap">
		<%= render :partial => 'shared/menu_top'%>
		

     <%= yield %>


 </div>

 <div>
     <%= render :partial => 'shared/other_options' %>
     <%= render :partial => 'shared/footer' %>
 </div>


</div>

 <a href="#" id="toTop" style="display: inline;">
    <span id="toTopHover" style="opacity: 0;"></span>
    "To Top"
</a>


        </body>
        </html>
