<!DOCTYPE html>
<html>
<head>
	<title>ProjectSoftlineinformatica</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag "custom" %>
	<%= javascript_include_tag "old_application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<%= render :partial => 'shared_admin/menu_top' %>
	<div class="container">

		<%= yield %>
	</div>
</body>
</html>
